<a href="https://colab.research.google.com/github/seokmin1/PDM08/blob/main/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [7]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head(7)

                   A         B         C         D
2021-09-27 -1.952058  0.413067 -0.610651  1.036996
2021-09-28 -0.320683  0.309962  0.923092 -1.262954
2021-09-29  0.869542 -0.732222  0.602824 -0.287385
2021-09-30  0.570222  0.575737  1.265685 -0.481784
2021-10-01 -1.330929  1.661588  1.801362  0.420022
2021-10-02  1.716812  0.699604 -1.306833 -1.934761

In [4]:
df.head(2)

                   A         B         C         D
2021-09-27  0.621172  0.244595 -1.433077  0.493084
2021-09-28  1.464559 -0.324011 -0.448940  1.335776

In [5]:
df.tail(3)

                   A         B         C         D
2021-09-30  0.091216 -0.242158 -0.158116 -1.082453
2021-10-01 -0.469459  0.551514  0.466062  1.075272
2021-10-02  1.106278 -0.777361  0.667618 -0.531958

In [8]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [11]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.074516  0.487956  0.445913 -0.418311
std    1.391411  0.768900  1.178985  1.082121
min   -1.952058 -0.732222 -1.306833 -1.934761
25%   -1.078368  0.335738 -0.307282 -1.067661
50%    0.124770  0.494402  0.762958 -0.384584
75%    0.794712  0.668637  1.180037  0.243170
max    1.716812  1.661588  1.801362  1.036996

In [12]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A    6.0 -0.074516  1.391411 -1.952058 -1.078368  0.124770  0.794712  1.716812
B    6.0  0.487956  0.768900 -0.732222  0.335738  0.494402  0.668637  1.661588
C    6.0  0.445913  1.178985 -1.306833 -0.307282  0.762958  1.180037  1.801362
D    6.0 -0.418311  1.082121 -1.934761 -1.067661 -0.384584  0.243170  1.036996

In [15]:
# Transposing your dataframe:
df.T

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A   -1.952058   -0.320683    0.869542    0.570222   -1.330929    1.716812
B    0.413067    0.309962   -0.732222    0.575737    1.661588    0.699604
C   -0.610651    0.923092    0.602824    1.265685    1.801362   -1.306833
D    1.036996   -1.262954   -0.287385   -0.481784    0.420022   -1.934761

In [16]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [19]:
df

                   A         B         C         D
2021-09-27 -1.952058  0.413067 -0.610651  1.036996
2021-09-28 -0.320683  0.309962  0.923092 -1.262954
2021-09-29  0.869542 -0.732222  0.602824 -0.287385
2021-09-30  0.570222  0.575737  1.265685 -0.481784
2021-10-01 -1.330929  1.661588  1.801362  0.420022
2021-10-02  1.716812  0.699604 -1.306833 -1.934761

In [21]:
# Sorting by an axis:
df, df.sort_index(axis=0 , ascending=False)

(                   A         B         C         D
 2021-09-27 -1.952058  0.413067 -0.610651  1.036996
 2021-09-28 -0.320683  0.309962  0.923092 -1.262954
 2021-09-29  0.869542 -0.732222  0.602824 -0.287385
 2021-09-30  0.570222  0.575737  1.265685 -0.481784
 2021-10-01 -1.330929  1.661588  1.801362  0.420022
 2021-10-02  1.716812  0.699604 -1.306833 -1.934761,
                    A         B         C         D
 2021-10-02  1.716812  0.699604 -1.306833 -1.934761
 2021-10-01 -1.330929  1.661588  1.801362  0.420022
 2021-09-30  0.570222  0.575737  1.265685 -0.481784
 2021-09-29  0.869542 -0.732222  0.602824 -0.287385
 2021-09-28 -0.320683  0.309962  0.923092 -1.262954
 2021-09-27 -1.952058  0.413067 -0.610651  1.036996)

In [22]:
df,df.sort_index(axis=1, ascending=False)

(                   A         B         C         D
 2021-09-27 -1.952058  0.413067 -0.610651  1.036996
 2021-09-28 -0.320683  0.309962  0.923092 -1.262954
 2021-09-29  0.869542 -0.732222  0.602824 -0.287385
 2021-09-30  0.570222  0.575737  1.265685 -0.481784
 2021-10-01 -1.330929  1.661588  1.801362  0.420022
 2021-10-02  1.716812  0.699604 -1.306833 -1.934761,
                    D         C         B         A
 2021-09-27  1.036996 -0.610651  0.413067 -1.952058
 2021-09-28 -1.262954  0.923092  0.309962 -0.320683
 2021-09-29 -0.287385  0.602824 -0.732222  0.869542
 2021-09-30 -0.481784  1.265685  0.575737  0.570222
 2021-10-01  0.420022  1.801362  1.661588 -1.330929
 2021-10-02 -1.934761 -1.306833  0.699604  1.716812)

#### Sort by value
- sort_values(by='column')

In [25]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)

(                   A         B         C         D
 2021-09-27 -1.952058  0.413067 -0.610651  1.036996
 2021-09-28 -0.320683  0.309962  0.923092 -1.262954
 2021-09-29  0.869542 -0.732222  0.602824 -0.287385
 2021-09-30  0.570222  0.575737  1.265685 -0.481784
 2021-10-01 -1.330929  1.661588  1.801362  0.420022
 2021-10-02  1.716812  0.699604 -1.306833 -1.934761,
                    A         B         C         D
 2021-09-29  0.869542 -0.732222  0.602824 -0.287385
 2021-09-28 -0.320683  0.309962  0.923092 -1.262954
 2021-09-27 -1.952058  0.413067 -0.610651  1.036996
 2021-09-30  0.570222  0.575737  1.265685 -0.481784
 2021-10-02  1.716812  0.699604 -1.306833 -1.934761
 2021-10-01 -1.330929  1.661588  1.801362  0.420022)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [27]:
# Selecting a single column, which yields a Series
df['A']

2021-09-27   -1.952058
2021-09-28   -0.320683
2021-09-29    0.869542
2021-09-30    0.570222
2021-10-01   -1.330929
2021-10-02    1.716812
Freq: D, Name: A, dtype: float64

In [28]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2021-09-27 -1.952058  0.413067 -0.610651  1.036996
2021-09-28 -0.320683  0.309962  0.923092 -1.262954
2021-09-29  0.869542 -0.732222  0.602824 -0.287385

In [31]:
df['20210927':'20211001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

                   A         B         C         D
2021-09-27 -1.952058  0.413067 -0.610651  1.036996
2021-09-28 -0.320683  0.309962  0.923092 -1.262954
2021-09-29  0.869542 -0.732222  0.602824 -0.287385
2021-09-30  0.570222  0.575737  1.265685 -0.481784
2021-10-01 -1.330929  1.661588  1.801362  0.420022

#### Selecting data by label [중요!!]

> **loc, iloc**

In [32]:
dates[0]

Timestamp('2021-09-27 00:00:00', freq='D')

In [33]:
df.loc[dates[0]]   # loc()

A   -1.952058
B    0.413067
C   -0.610651
D    1.036996
Name: 2021-09-27 00:00:00, dtype: float64

In [34]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2021-09-27 -1.952058  0.413067
2021-09-28 -0.320683  0.309962
2021-09-29  0.869542 -0.732222
2021-09-30  0.570222  0.575737
2021-10-01 -1.330929  1.661588
2021-10-02  1.716812  0.699604

#### [DIY: 도전코딩]

> Select data for first two days AND column 3,4 from df using loc[].

In [38]:
# df.loc[0:2,['C','D']]
# df.loc['20210927':'20210928',['C','D']]
df.loc[dates[:2],['C','D']]

                   C         D
2021-09-27 -0.610651  1.036996
2021-09-28  0.923092 -1.262954

#### Selecting data by position (iloc())
- index 사용

In [39]:
df

                   A         B         C         D
2021-09-27 -1.952058  0.413067 -0.610651  1.036996
2021-09-28 -0.320683  0.309962  0.923092 -1.262954
2021-09-29  0.869542 -0.732222  0.602824 -0.287385
2021-09-30  0.570222  0.575737  1.265685 -0.481784
2021-10-01 -1.330929  1.661588  1.801362  0.420022
2021-10-02  1.716812  0.699604 -1.306833 -1.934761

In [40]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A    0.570222
B    0.575737
C    1.265685
D   -0.481784
Name: 2021-09-30 00:00:00, dtype: float64

In [48]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2021-09-27 -0.610651  1.036996
2021-09-28  0.923092 -1.262954

In [49]:
# Select one item
df.iloc[1,1]

0.30996207484329347

In [51]:
# [DIY: 다시 도전]
# Select data for first three days from df
# Your code
df.iloc[:3,:]

                   A         B         C         D
2021-09-27 -1.952058  0.413067 -0.610651  1.036996
2021-09-28 -0.320683  0.309962  0.923092 -1.262954
2021-09-29  0.869542 -0.732222  0.602824 -0.287385

#### Selecting data by Boolean indexing

In [45]:
df

                   A         B         C         D
2021-09-27 -1.952058  0.413067 -0.610651  1.036996
2021-09-28 -0.320683  0.309962  0.923092 -1.262954
2021-09-29  0.869542 -0.732222  0.602824 -0.287385
2021-09-30  0.570222  0.575737  1.265685 -0.481784
2021-10-01 -1.330929  1.661588  1.801362  0.420022
2021-10-02  1.716812  0.699604 -1.306833 -1.934761

In [52]:
df.A >0

2021-09-27    False
2021-09-28    False
2021-09-29     True
2021-09-30     True
2021-10-01    False
2021-10-02     True
Freq: D, Name: A, dtype: bool

In [53]:
df >0

                A      B      C      D
2021-09-27  False   True  False   True
2021-09-28  False   True   True  False
2021-09-29   True  False   True  False
2021-09-30   True   True   True  False
2021-10-01  False   True   True   True
2021-10-02   True   True  False  False

In [54]:
df[df.A > 0]

                   A         B         C         D
2021-09-29  0.869542 -0.732222  0.602824 -0.287385
2021-09-30  0.570222  0.575737  1.265685 -0.481784
2021-10-02  1.716812  0.699604 -1.306833 -1.934761

In [47]:
df[df > 0]

                   A         B         C         D
2021-09-27       NaN  0.413067       NaN  1.036996
2021-09-28       NaN  0.309962  0.923092       NaN
2021-09-29  0.869542       NaN  0.602824       NaN
2021-09-30  0.570222  0.575737  1.265685       NaN
2021-10-01       NaN  1.661588  1.801362  0.420022
2021-10-02  1.716812  0.699604       NaN       NaN